@import "tailwindcss";

/* Inter custom font */
@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter.ttf);
}

body {
  font-family: Inter, Arial, sans-serif;
  background-color: var(--color-smoke);
  color: var(--color-night);
}

@theme {
  --font-inter: Inter;

  --color-chemtek: #88ff00;
  --color-aqua: #0fffff;
  --color-night: #1e1b22;
  --color-night-shade: #141217;
  --color-smoke: #f5f5f5;
}

@layer base {
  
}

@layer components {
  .p-default {
    padding: 1rem;
  }

}
