@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter.ttf);
}

html,
body,
:root {
  font-family: Inter, Arial, sans-serif;
  background-color: var(--color-white);
}

@theme {
  --font-inter: Inter;
}

@layer base {}

@layer components {}

@layer utilities {}
